* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Sora", sans-serif;
  background-color: #f7f8fc;
  color: #1e1e1e;
}

button {
  font-family: "Sora", sans-serif;
  cursor: pointer;
}
